<div class="container">

  <table>
    <tr>
      <th>Name</th>
      <th>Job Description</th>
      <th>Status</th>
    </tr>

    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.job_description__c %></td>
        <td><%= position.status__c %></td>
      </tr>
    <% end %>
  </table>

</div>
